<!-- FOOTER -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">
      <!-- <a href="#" type="button" class="btn btn-outline-danger btn-circle btn-lg float-end">
        <span style="margin-left: -4px;" class="material-icons pe-2">
          arrow_upward
        </span>
      </a> -->
      <p style="padding-top: 10px; text-align: center;">
        Copyright © 2020-2021
        <strong><i>codewithfarooq.web.app</i></strong>
      </p>
    </span>
  </div>
</footer>