<section class="block" data-aos="zoom-in">
  <header class="block__header">
    <blockquote class="quote quote__text">
      A Passionate Student and A Happy Teacher.
    </blockquote>
  </header>
  <div class="container">
    <div class="card testimonial" style="background: #fafafa">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            width="300px"
            height="300px"
            src="../../assets/images/frq-trans.png"
            alt="A happy, smiling customer"
          />
        </div>
        <blockquote class="quote">
          <p class="quote__text" style="color: #000">
            Hi! I am Farooq! I am a passionate and pragmatic software engineer
            with 10 years of professional experience and I've taught over many
            people how to code or how to become professional software engineers
            through my YouTube channel and online courses. I have Mastered in
            Computers and Technology. My mission is to make coding and software
            engineering accessible to everyone through courses that are simple
            to digest, and practical to implement.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--accent quote__line">
                  <use href="../../assets/images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Farooq</h3>
                <p class="quote__organization">Software Architect</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
