<app-navbar></app-navbar>
<div class="bg-dark text-secondary px-4 py-5">
    <div class="py-1">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                </div>
                <div class="col-md-auto">
                    <img width="200px" height="200px" src="./../../assets/images/frq.png"
                        class="rounded mx-auto d-block ms-2" alt="..." />
                </div>
                <div class="col col-lg-2">
                </div>
            </div>
        </div>
    </div>
    <div class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-2">
                </div>
                <div class="col-lg-6 col-sm-8">
                    <h4>
                        <i>Hi! I am Farooq! I am a passionate and pragmatic software engineer with 10 years
                            of professional experience and I've taught over many people how to code or how to
                            become professional software engineers through my YouTube channel and online courses.
                            I have Mastered in Computers and Technology.
                        </i>
                    </h4>
                    <br>
                    <h4>
                        <i>"My mission is to make coding and software engineering accessible to everyone through
                            courses that are simple to digest, and practical to implement."
                        </i>
                    </h4>
                </div>
                <div class="col-lg-3 col-sm-2">
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-social-buttons></app-social-buttons>