<div id="courses">
  <div class="grid grid--1X2 grid--1X3 grid--1X4" style="margin-bottom: 3rem">
    <div
      (click)="gotoCourse(course.id)"
      *ngFor="let course of courses | sort: 'id'"
      class="plan plan--popular"
      style="margin: 0.5rem"
    >
      <div
        [ngClass]="{ 'card--enabled': course.button_enabled }"
        class="card card--secondary"
      >
        <img src="./../../assets/images/{{ course.img_name }}" />
        <div class="card__body">
          <h5>
            {{ course.name }}
          </h5>
          <p style="color: #918ca4 !important">
            {{ course.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
