<div class="flex--row">
  <section>
    <div
      class="d-flex flex-column align-items-stretch flex-shrink-0"
      style="width: 100%; box-shadow: 0px 6px 20px rgb(32 39 45 / 15%)"
    >
      <a
        style="font-size: 1rem; font-weight: 700"
        href="/"
        class="d-flex flex-shrink-0 p-4 link-dark text-decoration-none"
      >
        Master HTML & CSS Series - 1
      </a>
      <div class="list-group list-group-flush border-bottom scrollarea">
        <div class="list">
          <a
            style="border-right: 0"
            href="#"
            class="list-group-item list-group-item-action py-3 lh-tight"
            aria-current="true"
          >
            <div
              style="font-size: 1rem; font-weight: 600"
              class="d-flex w-100 align-items-center justify-content-between"
            >
              <p class="mb-1">1- Getting Started</p>
              <small>32min</small>
            </div>
          </a>
          <a
            style="border: 0"
            href="#"
            class="list-group-item list-group-item-action py-3 lh-tight"
          >
            <div
              style="color: #4d4d4d"
              class="d-flex w-100 align-items-center justify-content-between"
            >
              <p style="margin-left: 1.2rem" class="mb-1">Primities</p>
              <small>2min</small>
            </div>
          </a>
          <a
            style="border: 0"
            href="#"
            class="list-group-item list-group-item-action py-3 lh-tight"
          >
            <div
              style="color: #4d4d4d"
              class="d-flex w-100 align-items-center justify-content-between"
            >
              <p style="margin-left: 1.2rem" class="mb-1">Primities</p>
              <small>2min</small>
            </div>
          </a>
          <a
            style="border: 0"
            href="#"
            class="list-group-item list-group-item-action py-3 lh-tight"
          >
            <div
              style="color: #4d4d4d"
              class="d-flex w-100 align-items-center justify-content-between"
            >
              <p style="margin-left: 1.2rem" class="mb-1">Primities</p>
              <small>2min</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div style="width: 100%">
    <nav
      style="border: 1px solid lightgrey; background: #fff; padding: 1rem"
      class="navbar navbar-light"
    >
      <div class="container-fluid">
        <a
          href="#"
          style="font-size: 1.2rem; font-weight: 600"
          class="navbar-brand"
          >Home</a
        >
      </div>
    </nav>
    <iframe
      style="margin: 2rem"
      class="video__control"
      src="//www.youtube.com/embed/Dp4GCZjTsh4?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>
