<div class="bg-dark text-secondary px-4 py-5">
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-last">
          <div class="col-lg-6 mx-auto">
            <div *ngIf="formSubmitted">
              <div
                class="alert alert-success d-flex align-items-center"
                role="alert"
              >
                <svg
                  class="bi flex-shrink-0 me-2"
                  width="24"
                  height="24"
                  role="img"
                  aria-label="Success:"
                >
                  <use xlink:href="#check-circle-fill" />
                </svg>
                <div *ngIf="inquiryForm">{{ enrollMsg }}</div>
              </div>
            </div>
            <h4 class="text-white">START CODING WITH ME !!</h4>
            <form
              class="row g-3"
              [formGroup]="inquiryForm"
              (ngSubmit)="onSubmit(inquiryForm.value)"
            >
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="inputFirstName"
                  placeholder="First Name"
                  formControlName="first_name"
                />
              </div>
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="inputLastName"
                  placeholder="Last Name"
                  formControlName="last_name"
                />
              </div>
              <div class="col-12">
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  placeholder="Email"
                  formControlName="email"
                />
              </div>
              <div class="col-12">
                <input
                  type="phone"
                  class="form-control"
                  id="inputPhone"
                  placeholder="Phone"
                  formControlName="phone"
                />
              </div>
              <div class="col-md-12">
                <select
                  id="inputState"
                  class="form-select"
                  formControlName="course"
                >
                  <option selected>Choose Course...</option>
                  <option *ngFor="let course of coursesList">
                    {{ course.name }}
                  </option>
                </select>
              </div>
              <div class="col-12 button-group">
                <button
                  [disabled]="!inquiryForm.valid"
                  type="submit"
                  class="btn btn-danger me-2"
                >
                  ENROLL NOW
                </button>
                <button type="button" class="btn btn-outline-danger">
                  DEMO SESSION
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
