<section class="block block--dark block--skewed-left">
  <div class="flex--row">
    <div class="flex--column">
      <blockquote class="quote quote__text">
        Join with me and develop your coding skills...
      </blockquote>
      <a href="" class="btn btn--accent btn--stretched btn--margin">
        Get Started
      </a>
    </div>
    <iframe
      class="video__control"
      src="//www.youtube.com/embed/Dp4GCZjTsh4?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</section>
